/* Define custom colors */
:root {
    --primary-color: #170f11;
    --secondary-color: #402039;
    --accent1-color: #5c164e;
    --accent2-color: #9b287b;
    --accent3-color: #e2fcef; /* Honeydew/lighter peachish color */
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/* Content container */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Navigation links */
nav a {
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font); /* Use heading font */
    font-size: 1.4em;
}

/* Logo */
.logo {
    width: 500px;
    margin: -175px;
    padding-top: 35px;

}
#logo_link{
    z-index: 2;
}

/* Body */
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font); /* Use paragraph font */
}

/* Hero image */
#hero-img {
    width: 100%;
    margin-top: -235px;
}
#hero-box{
    z-index: -3;
}
/* Hero section */
#hero {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
}

/* Header */
header {
    /* background-color: var(--secondary-color); */
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: var(--heading-font); /* Use heading font */
}

.nav_link:hover {
    color: var(--accent3-color);
}

/* Sections */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Section headers */
header {
    font-size: 1.5em;
    color: var(--accent3-color);
}

/* Paragraphs */
p {
    line-height: 1.6;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: var(--paragraph-font); /* Use paragraph font */
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

/* Social icons */
.social {
    margin-top: 10px;
}

.social a {
    margin-right: 10px;
}

/* Navigation styles */
nav {
    background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent background */
    padding: 10px;
    position: fixed; /* Fix the navigation bar position */
    width: 100%;
    top: 0;
    z-index: 1; /* Ensure navigation bar stays on top */
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Evenly space navigation links */
}

.nav_link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease; /* Add transition effect for smooth hover */
}

.nav_link:hover {
    color: var(--accent2-color); /* Updated color on hover */
}

/* Start here button */
.start_button {
    background-color: var(--accent1-color); /* Use accent color for button background */
    color: #ffffff;
    padding: 60px 120px; /* Increase padding to make the button bigger */
    border-radius: 8px; /* Add rounded corners */
    text-decoration: none; /* Remove default link underline */
    transition: all 0.3s ease; /* Add transition effect for smooth hover */
    display: inline-block; /* Ensure button is inline-block to center it */
    margin-top: 10px; /* Add margin to center the button vertically */
    font-size: 2em; /* Increase font size for button text */
    font-family: var(--heading-font); /* Use heading font */
}

.start_button:hover {
    background-color: var(--accent2-color); /* Darker accent color on hover */
}

/* Center the button horizontally */
.button-box {
    text-align: center;
}

/* Hero image2 */
#hero-img2 {
    width:  100%;
}
footer a:hover {
    color: burlywood; /* Change color on hover */
}
footer a {
    color: var(--accent2-color); /* Set the color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Add transition effect */
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

