@import url('https://fonts.googleapis.com/css2?family=Figtree:ital@1&family=Oswald&family=Raleway&display=swap');

body {
    background-color: rgb(27, 26, 26);
    margin: 0;
    padding: 0;
}

.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
}

p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-family: 'Figtree';
    padding: 10px;
    color: white;
}
header, footer {
    background-color: gray;
}

#main_title {
    color: rgb(228, 225, 235);
    font-size: 3em;
    text-align: center;
    font-family: 'Figtree';
}
nav {
    display: flex;
    justify-content: center
}
nav a:hover {
    color: aliceblue;
}
img {
    display:block;
    margin: 0 auto;
    width: 60%;
}

#content {
max-width: 1000;
margin 0 auto;
}
footer {
    padding: 20px
}

header a{
    text-decoration: none;
}
img {
    border-radius: 10px;
}